.top-fix {
	width:100%;
	z-index:99;
	&.fixed {
		position:fixed;
	}
}
.site-header {
	background:$brand-success;
	position:relative;
	padding:0;
	@include max-width($screen-sm) {
		padding:5px 0;
	}
	@include max-width(700px) {
		background-image:url('../images/header-bg.jpg');
		background-size:cover;
	}
	input {
		background:$brand-primary;
	}
	::placeholder {
		color:#fff;
		@include max-width($screen-sm) {
			font-size:16px;
		}
	}
	.h4 {
		font-size:26px;
	}
	.logo {
		position:absolute;
		left:1%;
		top:25%;
		z-index:99;
		transition:all 0.6s ease-in-out;
		@include max-width(1500px) {
			transform:scale(0.9);
			top:5%;
			left:0;
		}
		@include max-width(550px) {
			top:0;
			transform:scale(0.7);
		}
		@include max-width(500px) {
			transform:scale(0.6);
			top:40%;
			left:-20px;
		}
	}
	.franchise {
		position:absolute;
		background:$brand-info;
		right:0;
		top:0;
		color:#fff;
		max-width:200px;
		text-align: center;
		transition:all 0.3s ease-in-out;
		z-index:99;
		@include max-width(1500px) {
			max-width:150px;
		}
		@include max-width(1250px) {
			padding:5px;
		}
		@include max-width(1200px) {
			top:8px;
		}
		@include max-width(1000px) {
			display:none;
		}
		&:hover {
			@include min-width(1200px) {
				top:20px;
			}
		}
		a {
			color:#fff;
			text-decoration:none;
			display:block;
			padding:10px;
			@include max-width(1500px) {
				padding:5px;
			}
			p {
				font-size:18px;
				padding-top:10px;
				line-height:1;
				margin-bottom: 0;
				@include max-width(1400px) {
					padding-top:0;
				}
				@include max-width(1250px) {
					font-size:16px;
					padding-top:0;
				}
			}
		}
		&:before {
			content:'';
			position:absolute;
			top:-30px;
			left:0;
			width:100%;
			background:$brand-info;
			height:30px;
		}
		&:after {
			content:'';
			position:absolute;
			top:100%;
			left:0;
			width:0;
			height:0;
			border-top:40px solid $brand-info;
			border-left:110px solid transparent;
			border-right:110px solid transparent;
			@include max-width(1500px) {
				border-top:30px solid $brand-info;
				border-left:90px solid transparent;
				border-right:90px solid transparent;
			}
			@include max-width(1250px) {
				border-top:20px solid $brand-info;
			}
			@include max-width(1200px) {
				display:none;
			}
		}
	}
	.flex {
		display:flex;
		align-items:center;
		justify-content:flex-end;
		@include max-width(1530px) {
			justify-content:center;
		}
		@include max-width(1000px) {
			justify-content:flex-end;
		}
		div {
			&:first-child {
				.h4 {
					text-transform: uppercase;
					font-weight:400;
					color:$brand-primary;
					@include max-width(1000px) {
						font-size:20px;
					}
					@include max-width($screen-sm) {
						display:none;
					}
				}
				margin-right:10px;
			}
			&:nth-child(2) {
				margin-left:15px;
				.location-info {
					background:$brand-info;
					color:#fff;
					font-style:italic;
					padding:5px 20px;
					border-radius:5px;
					font-family:$font-family-fancy;
				}
			}
			&:last-child {
				margin-left:-15px;
				.btn-info {
					font-size:24px;
					padding:5px 15px;
					background:#fff;
					transition:all 0.3s ease-in-out;
					border:none;
					a {
						text-decoration:none;
						transition:all 0.3s ease-in-out;
					}
					&:hover {
						background:$brand-primary;
						a {
							color:#fff;
						}
					}
				}
			}
		}
	}
}